h2 {
    font-size: xx-large;
}

h3 {
    font-size: 2vh;
}

p {
    font-family: var(--font-family-text);
}

img {
    width: var(--catalog-img-size-atandart);
    height: var(--catalog-img-size-atandart);
}

#catalog_main {
    display: flex;
}

#map {
    position: absolute;
}

#catalog-column {
    height: 100vh;
}

#catalog-header {
    display: flex;
    flex-direction: column;
    top: 0;
    height: var(--common-catalog-header-height);
    z-index: 0;
    position: absolute;
    background: var(--primary-background-color);
}

#catalog-body {
    display: flex;
    flex-direction: column;
    top: 19vh;
    z-index: 1;
    position: relative;
    background: white;
    padding-top: 1vh;
}

#catalog-filters {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filterButton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--relative-margin-mini);
    width: 20%;
    height: 6vh;
    background: white;
    box-shadow: var(--primari-box-shadow);
    border: var(--none-border);
}

.filterButton h2, .filterButton p {
    margin: 0;
    text-align: center;
}

#catalog-header-city {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

#catalog-header-cityName {
    margin-left: var(--relative-margin-standart);
}

#catalog-header-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#catalog-header-dates-calendar {
    margin-left: var(--relative-margin-standart);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#catalog-header-dates p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--font-color-dark);
}

#catalog-header-days {
    margin-right: var(--relative-margin-standart);
}

#catalog-body-apartments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
}
