h2 {
    font-size: xx-large;
}

h3 {
    font-size: 2vh;
}

p {
    font-family: var(--font-family-text);
}

img {
    width: var(--catalog-img-size-standart);
    height: var(--catalog-img-size-standart);
}

#catalog_main {
    display: flex;
}

.downArrowCatalog {
    text-align: center;
    height: fit-content;
    font-size: 25px;
    transform: rotate(270deg);
    color: var(--font-color-dark-label);
}

#catalog-column {
    height: 100vh;
}

#catalog-header {
    display: flex;
    flex-direction: column;
    top: 0;
    height: fit-content;
    padding-bottom: var(--inset-standart);
    z-index: 2;
    position: fixed;
    background: white;
}

#catalog-body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    background: white;
    padding-top: 1vh;
}

#catalog-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.filterButton {
}

.filterButton h2, .filterButton p {
    margin: 0 var(--inset-standart);
    text-align: center;
}

#catalog-header-city {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

#catalog-header-cityName {
    margin-left: var(--relative-margin-standart);
}

#catalog-header-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#catalog-header-dates-calendar {
    margin-left: var(--relative-margin-standart);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#catalog-header-dates p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--font-color-dark);
}

#catalog-header-days {
    margin-right: var(--relative-margin-standart);
}

#catalog-body-apartments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: fit-content;
}
