@media screen and (min-width: 1000px) {

    #catalog-header {
        background: linear-gradient(180deg, #5b6f8ea1, 25%, transparent);
        /*background: url("/images/foneImages/yantarnui.png");*/
    }

    .onlyDesctop {}

    .onlyMobile {
        display: none;
    }

    #catalog_main {
        flex-direction: row;
    }

    #catalog-column {
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
    }

    #catalog-header {
        left: 0;
    }

    #catalog-header, #catalog-body {
        width: var(--desctop-catalog-wight);
    }

    #catalog-body {
        top: 14vh;
        /*max-height: 100vh - top (12 vh) - margin-tpo (1 vh)*/
        max-height: 85vh;
        overflow: scroll;
    }

    .filterButton {
        border-radius: var(--border-radius-standart);
    }

    #searchBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 1vh 0;
        background-color: var(--menu-background-color);
    }

    .sitySelect {
    }

    .sitySelect p {
        color: var(--font-color-dark-label);
        margin: var(--inset-standart);
    }

    .sitySelect:hover {
        background: var(--font-color-dark);
    }

    .sitySelect:hover p {
        color: var(--font-color-light);
    }

    #placeToCitySelect {
        display: flex;
        flex-direction: column;
        z-index: 1;
        background-color: white;
        border-radius: var(--border-radius-standart);
        position: absolute;
    }

    #placeToCitySelect {
        width: var(--bookibg-widget-wight);
    }

    .dateInput{
        font-family: var(--font-family);
        color: var(--font-color-dark-label);
        padding: var(--inset-standart);
        text-align: center;
    }

    .dateInput{
        font-size: var(--font-size-l);
        width: 50%;
    }

    .button {
        display: flex;
        font-size: var(--font-size-l);
        margin-right: 1vw;
    }

    .button img {
        margin-right: var(--inset-standart);
    }

    button p {
        font-size: var(--font-size-l);
    }

    #catalog-header-dates img {
        width: var(--catalog-img-size-standart);
        height: var(--catalog-img-size-standart);
    }

    #catalog-header-dates-calendar {
        width: 35%;
    }

    .desctopApartmentBlock {
        padding: var(--inset-standart);
    }

    #apartmentHeadImage {
        width: var(--desctop-gallery-width);
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-mask-image: linear-gradient(90deg, black, 85%, transparent);
    }

    #apartmentInfoDesctop {
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
        width: calc(100% - var(--desctop-gallery-width) - 4 * var(--inset-standart) - 5vw);
        overflow: scroll;
        height: var(--desctop-apartment-page-content);
    }

    #apartmentAtributes {
        display: flex;
        flex-direction: column;
    }

    #name_spacer {
        font-size: var(--font-size-xl);
        font-weight: 600;
        margin-bottom: var(--large-vertical-inset);
    }

    #city_spacer {
        margin-top: var(--large-vertical-inset);
        font-size: var(--font-size-l);
        font-weight: 600;
        margin-bottom: var(--large-vertical-inset);
    }
}
