@media screen and (min-width: 1000px) {
    #landing{
        flex-direction: row;
    }

    #bookingArticle {
        width: 60vw;
    }

    #landingForm {
        width: 40vw;
    }

    #searchWidget{
        height: 40%;
        width: 22vw;
    }

    #searchBlock {
        height: 40%;
    }

    section#siteName h1 {
        font-size: var(--font-size-big);
    }

    p {
        font-size: var(--font-size-standart);
    }

    button p {
        font-size: var(--font-size-l);
    }

    .dateInput{
        font-size: var(--font-size-l);
    }

    .button {
        font-size: var(--font-size-l);
    }

    .footerText {
        font-size: smaller;
    }
}
