#landing{
    display: flex;
    background-position: revert;
    background-size: cover;
}

.landingArticle{
    height: 100vh;
}

#landingForm{
    background: rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

#bookingArticle{

}

#searchWidget{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-standart);
    padding: var(--inset-standart);
}

#siteName {
}

section#siteName h1 {
    margin: 0;
    color: var(--font-color-dark);
    font-family: var(--font-family-headers);
}

section#siteName p {
    margin: 0 0 10% 0;
}

p {
    color: var(--font-color-dark);
}

#searchBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sitySelect {
}

.sitySelect p {
    color: var(--font-color-dark-label);
    margin: var(--inset-standart);
}

.sitySelect:hover {
    background: var(--font-color-dark);
}

.sitySelect:hover p {
    color: var(--font-color-light);
}

.dateInput{
    font-family: var(--font-family);
    color: var(--font-color-dark-label);
    padding: var(--inset-standart);
    text-align: center;
}

#banersPlace {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    overflow: auto;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
    border-radius: var(--border-radius-standart);
    padding: var(--inset-standart);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--inset-standart) 0;
    width: 100%;
    background: var(--menu-background-color);
}

.catalog_footerText {
    margin: 0 var(--inset-standart);
    text-align: justify;
    color: var(--font-color-light);
}

#placeToCitySelect {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    border-radius: var(--border-radius-standart);
    position: absolute;
}
