<div class="cityBanner">
    <div class="img-container-banner">
        <img src="images/foneImages/zelegradsk.png" class="bannerImage">
    </div>
    <article class="bannerArticle">
        <h2 class="bannerHeader">Зеленоградск</h2>
        <p class="bannerText">Если Вы в первый, а может во второй или в третий раз приехали в Калининградскую область, то обязательно стоит заглянуть в «город котов»</p>
        <section class="bannerButtons startOpacity">
            <button class="button onBanner">Найти жилье</button>
            <button class="button onBanner">Заказать экскурсию</button>
        </section>
    </article>
</div>