@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }
    33% {
        opacity: 0;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    33% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    33% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }
    33% {
        opacity: 0;
        transform: translateY(-20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes unappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fastAppearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fastSlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fastSlideOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}

@keyframes fastSlideInBottom {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10%);
    }
}

@keyframes blur {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(30px);
    }
}

@keyframes increaseScale {
    0% {
        height: var(--mobile-closed-card);
    }
    100% {
        height: var(--mobile-opened-card);
    }
}

@keyframes decreaseScale {
    0% {
        height: var(--mobile-opened-card);
    }
    100% {
        height: var(--mobile-closed-card);
    }
}

@keyframes increaseScaleImg {
    0% {
        height: var(--mobile-card-closed-img);
    }
    100% {
        height: var(--mobile-card-opened-img);
    }
}

@keyframes decreaseScaleImg {
    0% {
        height: var(--mobile-card-opened-img);
    }
    100% {
        height: var(--mobile-card-closed-img);
    }
}


@keyframes moveAttributeToTop{
    0% {
        margin-top: calc(var(--card-lable-inset) + 60%);
    }
    100% {
        margin-top: calc(var(--card-lable-inset) + 30%);
    }
}

@keyframes moveAttributeToBottom {
    0% {
        margin-top: calc(var(--card-lable-inset) + 30%);
    }
    100% {
        margin-top: calc(var(--card-lable-inset) + 60%);
    }
}

@keyframes moveCatalogDown {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 40vh;
    }
}
