:root{
    --border-radius-standart: 10px;
    --border-radius-standart-mobile: 3vh;
    --border-radius-mini-mobile: 1.5vh;
    --border-radius-micro-mobile: 10px;
    --none-border: none;
    --inset-standart: 10px;
    --inset-large: 10px;
    --mobile-widget-inset: 2vh;
    --card-lable-inset: 3%;
    --font-family: sans-serif;
    --font-family-headers: Leaguespartanbold, sans-serif;
    --font-family-text: Noahregular, sans-serif;
    --font-color-light: #e8eaf3;
    --font-color-dark: #2b2b2b;
    --font-color-dark-label: #474d5b;
    --font-size-big: 6vh;
    --mobile-font-size-big: 10vh;
    --font-size-l: 2vh;
    --mobile-font-size-l: 3.2vh;
    --font-size-standart: medium;
    --mobile-font-size-header: 4vh;
    --mobile-font-size-standart: medium;
    --mobile-font-size-medium: 2vh;
    --mobile-font-size-mini: small;
    --alfa-button-color-light: rgba(255, 255, 255, 0.6);
    --menu-background-color: #4c4c4c82;
    --primary-background-color: #f6f6f6;
    --lite-back-color: rgb(229 229 229 / 60%);
    --telegram-color: #2ab6f6;
    --widget-background-color: #2b2b2b;
    --widget-place-on-landing-background-color: white;
    --backgrount-gradient: linear-gradient(0deg, #171918, #383D43, #94A5C1, #FAF9FE);
    --primari-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    --mobile-bookibg-widget-wight: 80vw;
    --mobile-widget-wight: 90vw;
    --bookibg-widget-wight: 22vw;
    --desctop-catalog-wight: 40vw;
    --desctop-map-wight: 60vw;
    --desctop-map-height: 100vh;
    --mobile-catalog-wight: 100vw;
    --mobile-map-height: 70vw;
    --common-catalog-header-height: 15.5vh;
    --catalog-img-size-standart: 20px;
    --catalog-img-size-mini: 20px;
    --catalog-img-size-micro: 20px;
    --mobile-closed-card: 150px;
    --mobile-opened-card: 400px;
    --mobile-card-closed-img: 180px;
    --mobile-card-opened-img: 250px;
    --relative-margin-standart: 5%;
    --relative-margin-mini: 2%;
    --time-fast: .3s;
    --time-standart: .6s;
}

/*:root{*/
/*    !*border*!*/
/*    --border-radius-standart: 10px;*/
/*    --border-radius-standart-mobile: 3vh;*/
/*    --border-radius-mini-mobile: 1.5vh;*/
/*    --border-radius-micro-mobile: 15px;*/
/*    --none-border: none;*/

/*    !*Отступы*!*/
/*    --inset-standart: 10px;*/
/*    --inset-large: 20px;*/
/*    --mobile-widget-inset: 2vh;*/

/*    --card-lable-inset: 3%;*/

/*    !*Шрифт*!*/
/*    --font-family: sans-serif;*/
/*    --font-family-headers: Leaguespartanbold, sans-serif;*/
/*    --font-family-text: Noahregular, sans-serif;*/

/*    --font-color-light: #e8eaf3;*/
/*    --font-color-dark: #2b2b2b;*/
/*    --font-color-dark-label: #474d5b;*/

/*    --font-size-big: 6vh;*/
/*    --mobile-font-size-big: 10vh;*/

/*    --font-size-l: 2vh;*/
/*    --mobile-font-size-l: 3.2vh;*/

/*    --font-size-standart: medium;*/
/*    --mobile-font-size-header: 4vh;*/
/*    --mobile-font-size-standart: 2.4vh;*/
/*    --mobile-font-size-medium: 2vh;*/
/*    --mobile-font-size-mini: 3.8vw;*/

/*    !*Общие цвета*!*/
/*    !*#ffffffd9*!*/
/*    --alfa-button-color-light: rgba(255, 255, 255, 0.6);*/
/*    --menu-background-color: #4c4c4c82;*/
/*    --primary-background-color: #f6f6f6;*/

/*    --lite-back-color: rgb(229 229 229 / 60%);*/

/*    --telegram-color: #2ab6f6;*/

/*    --widget-background-color: #2b2b2b;*/
/*    --widget-place-on-landing-background-color: white;*/

/*    --backgrount-gradient: linear-gradient(0deg, #171918, #383D43, #94A5C1, #FAF9FE);*/

/*    --primari-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);*/

/*    !*Размеры основных элементов*!*/
/*    --mobile-bookibg-widget-wight: 80vw;*/
/*    --mobile-widget-wight: 90vw;*/
/*    --bookibg-widget-wight: 22vw;*/

/*    --desctop-catalog-wight: 40vw;*/
/*    --desctop-map-wight: 60vw;*/
/*    --desctop-map-height: 100vh;*/

/*    --mobile-catalog-wight: 100vw;*/
/*    --mobile-map-height: 70vw;*/

/*    --common-catalog-header-height: 15.5vh;*/

/*    --catalog-img-size-standart: 64px;*/
/*    --catalog-img-size-mini: 48px;*/
/*    --catalog-img-size-micro: 20px;*/

/*    !*Открытая и закрытая карточка объекта в каталоге*!*/
/*    !*Используются в методе tapOnCard() как String*!*/
/*    --mobile-closed-card: 450px;*/
/*    --mobile-opened-card: 970px;*/
/*    !*Изображение открытой и закрытой карточки объекта в каталоге*!*/
/*    --mobile-card-closed-img: 450px;*/
/*    --mobile-card-opened-img: 550px;*/

/*    !*Отнисительные размеры*!*/
/*    --relative-margin-standart: 5%;*/
/*    --relative-margin-mini: 2%;*/

/*    !*Время анимаций*!*/
/*    --time-fast: .3s;*/
/*    --time-standart: .6s;*/
/*}*/

@font-face {
    font-family: Leaguespartanbold;
    src: url(fonts/Leaguespartanbold.ttf);
}

@font-face {
    font-family: Noahregular;
    src: url(fonts/Noahregular.ttf);
}


body{
    margin: 0;
    font-family: sans-serif;
}

a:active, /* активная/посещенная ссылка */
a {
    text-decoration: none;
}

a {
    font-family: var(--font-family-text);
}

.alfaInput {
    background: var(--alfa-button-color-light);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
}

.button {
    background: var(--font-color-dark);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
    color: aliceblue;
    padding: var(--inset-standart);
}

.startOpacity {
    opacity: 0;
}