:root{
    /*border*/
    --border-radius-standart: 10px;
    --none-border: none;

    /*Отступы*/
    --inset-standart: 10px;

    /*Шрифт*/
    --font-family: sans-serif;
    --font-family-headers: Leaguespartanbold, sans-serif;
    --font-family-text: Noahregular, sans-serif;

    --font-color-light: #e8eaf3;
    --font-color-dark: #2b2b2b;
    --font-color-dark-label: #474d5b;

    --font-size-big: 6vh;
    --mobile-font-size-big: 10vh;

    --font-size-l: 2vh;
    --mobile-font-size-l: 3.2vh;

    --font-size-standart: medium;
    --mobile-font-size-standart: 2.4vh;

    /*Общие цвета*/
    --alfa-button-color-light: rgba(255, 255, 255, 0.6);

    --mobile-bookibg-widget-wight: 80vw;

    --time-fast: .3s;
    --time-standart: .6s;

}

@font-face {
    font-family: Leaguespartanbold;
    src: url(fonts/Leaguespartanbold.ttf);
}

@font-face {
    font-family: Noahregular;
    src: url(fonts/Noahregular.ttf);
}


body{
    margin: 0;
    font-family: sans-serif;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
    text-decoration: none;
}

a {
    font-family: var(--font-family-text);
}

.alfaInput {
    background: var(--alfa-button-color-light);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
}

.button {
    background: var(--font-color-dark);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
    color: aliceblue;
    padding: var(--inset-standart);
}