:root{
    --border-radius-standart: 10px;
    --border-radius-large: 16px;
    --border-radius-standart-mobile: 3vh;
    --border-radius-mini-mobile: 1.5vh;
    --border-radius-micro-mobile: 10px;

    --none-border: none;

    --inset-standart: 10px;
    --large-vertical-inset: 2vh;
    --card-lable-inset: 3%;

    --font-family: sans-serif;
    --font-family-headers: Leaguespartanbold, sans-serif;
    --font-family-text: Noahregular, sans-serif;

    --font-color-light: #e8eaf3;
    --font-color-dark: #2b2b2b;
    --font-color-gray: #a7a7a7;
    --font-color-dark-label: #474d5b;

    --font-size-big: 6vh;
    --mobile-font-size-big: 10vh;
    --font-size-l: large;
    --font-size-xl: x-large;
    --font-size-standart: medium;
    --font-size-mini: 14px;
    --font-size-small: small;
    --font-size-smaller: smaller;
    --font-size-x-small: x-small;

    --alfa-button-color-light: rgba(255, 255, 255, 0.6);
    --input-background-color: rgb(239 239 239 / 60%);
    --menu-background-color: #4c4c4c82;
    --primary-background-color: #f6f6f6;
    --lite-back-color: rgb(229 229 229 / 60%);
    --telegram-color: #2ab6f6;
    --light-color-backgrount: #f6f6f6;
    --widget-background-color: #2b2b2b;
    --widget-place-on-landing-background-color: white;
    --backgrount-gradient: linear-gradient(0deg, #171918, #383D43, #94A5C1, #FAF9FE);

    --primari-box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    --contrast-box-shadow: 0 0 12px 0 rgb(157 157 157);

    --mobile-bookibg-widget-wight: 80vw;
    --mobile-widget-wight: 90vw;
    --bookibg-widget-wight: 22vw;
    --desctop-catalog-wight: calc(100vw - var(--desctop-map-wight));
    --desctop-map-wight: 100vw;
    --desctop-map-height: 100vh;
    --mobile-catalog-wight: 100vw;
    --mobile-map-height: 70vw;
    --common-catalog-header-height: 15.5vh;
    --desctop-gallery-width: 40%;
    --desctop-apartment-page-content: 94%;
    --desctop-main-elements-to-catalkog-inset: 3%;
    --catalog-header-height: 13%;

    --catalog-card-height: 20vh;

    --date-element-side-size: 65px;

    --standart-gorisontal-inset: 3vw;

    --catalog-img-size-large: 36px;
    --catalog-img-size-standart: 20px;

    --mobile-closed-card: 180px;
    --mobile-opened-card: 425px;
    --mobile-card-closed-img: 180px;
    --mobile-card-opened-img: 250px;

    --relative-margin-standart: 5%;
    --relative-margin-mini: 2%;
    --time-fast: .3s;
    --time-standart: .6s;
}

@font-face {
    font-family: Leaguespartanbold;
    src: url(fonts/Leaguespartanbold.ttf);
}

@font-face {
    font-family: Noahregular;
    src: url(fonts/Noahregular.ttf);
}


body{
    margin: 0;
    font-family: sans-serif;
}

a:active, /* активная/посещенная ссылка */
a {
    text-decoration: none;
}

a {
    font-family: var(--font-family-text);
}

.alfaInput {
    background: var(--alfa-button-color-light);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
    cursor: pointer;
}

.button {
    background: var(--font-color-dark);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
    color: aliceblue;
    padding: var(--inset-standart);
    cursor: pointer;
}

.lightButton {
    display: flex;
    font-size: var(--font-size-l);
    background: var(--alfa-button-color-light);
    border: var(--none-border);
    border-radius: var(--border-radius-standart);
    padding: var(--inset-standart);
    cursor: pointer;
}

.lightButton:hover {
    background: var(--font-color-dark);
    color: white;
}

.lightButton img {
    margin-right: var(--inset-standart);
}

.lightButton:hover img {
    filter: invert(1)
}

.startOpacity {
    opacity: 0;
}

.noneDisplay {
    display: none !important;
}



/*Стили слайдера фотографий объекта*/
.gallery {
    display: grid;
    grid-template-columns: repeat(15, 95vw);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}

.active {
    /*scroll-snap-type: unset;*/
}

.gallery img {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: var(--border-radius-standart);
    /*font-size: 0;*/
}
/*Стили слайдера фотографий объекта*/

.universalInput {
    width: calc(96% - 2 * var(--inset-standart));
    font-size: var(--font-size-standart);
    border-radius: var(--border-radius-standart);
    font-family: var(--font-family);
    color: var(--font-color-dark-label);
    padding: var(--inset-standart);
    background-color: var(--input-background-color);
    border: var(--none-border);
}

#placeToCitySelect, #currentSelect {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    border-radius: var(--border-radius-standart);
    position: absolute;
}

.sitySelect {
}

.sitySelect p {
    color: var(--font-color-dark-label);
    margin: var(--inset-standart);
}

.sitySelect:hover {
    background: var(--font-color-dark);
}

.sitySelect:hover p {
    color: var(--font-color-light);
}

.selectIsFullClass {
    width: calc(100% - 2 * var(--inset-standart)) !important;
    height: 56%;
}

.selectIsFullClass button p {
    font-size: var(--font-size-standart);
}

/*MOBILE*/
@media screen and (max-width: 1000px) {

    #placeToCitySelect, #currentSelect {
        width: var(--mobile-bookibg-widget-wight);
    }

    .popUp {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 9;
        position: fixed;
        top: 0;
        background-color: #0000006e;
    }

    .popUpInner {
        display: flex;
        flex-direction: column;
        padding: var(--card-lable-inset);
        width: 94%;
        min-height: 68%;
        background-color: white;
        /*box-shadow: 0 0 100px rgba(0, 0, 0);*/
        border-top-right-radius: var(--border-radius-mini-mobile);
        border-top-left-radius: var(--border-radius-mini-mobile);
        /*margin-bottom: var(--card-lable-inset);*/
    }

    #closePopUp {
        width: 98%;
        text-align: right;
        height: fit-content;
        font-size: 30px;
        color: var(--font-color-dark-label);
        margin-bottom: 5px;
    }

    .popUpCloserSpace {
        width: 100%;
        height: 100%;
    }
}

/*DESCTOP*/
@media screen and (min-width: 1000px) {

    #placeToCitySelect, #currentSelect {
        width: var(--bookibg-widget-wight);
    }

    .popUp {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 9;
        position: fixed;
        top: 0;
        background-color: #00000070;
    }

    .popUpInner {
        margin-right: var(--desctop-main-elements-to-catalkog-inset);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        width: calc(100vw - (2 * var(--desctop-main-elements-to-catalkog-inset)) - var(--bookibg-widget-wight));
        height: var(--desctop-apartment-page-content);
        border-radius: var(--border-radius-large);
        background-color: white;
        box-shadow: var(--primari-box-shadow);
    }

    #closePopUp {
        font-size: 30px;
        color: var(--font-color-dark-label);
        cursor: pointer;
        position: absolute;
        top: 4%;
        right: 4%;
        z-index: 1;
        animation: appearance 1s ease-in-out;
    }

    .popUpCloserSpace {
        width: 28vw;
        height: 100%;
    }
}