<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/widget.css">
    <link rel="stylesheet" href="/style/landing/main.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/menu.css">
    <link rel="stylesheet" href="/style/landing/landing-desktop.css">
    <link rel="stylesheet" href="/style/landing/landing-mobile.css">
    <link rel="stylesheet" href="/style/animations.css">
    <link rel="stylesheet" href="/style/landing/banner.css">
    <link rel="stylesheet" href="/scripts/airdatepicker/air-datepicker.css">

    <script type="text/javascript" src="/scripts/constants/animationConstants.js"></script>
    <script type="text/javascript" src="/scripts/landing/animationsController.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<div id="landing" class="startOpacityDesctop">
    <article id="bookingArticle" class="landingArticle">
        <!--Виджет поиска-->
        <article id="searchWidget">
            <!--Название сайта-->
            <section id="siteName" class="startOpacity">
                <h1>Свои</h1>
                <p>Посуточная аренда квартир</p>
            </section>

            <section id="checkboxSpace"></section>
            <section id="searchBlock" class="startOpacityDesctop">
                <button id="cityInput" class="alfaInput sitySelect" onclick="createCitySelect()">
                    <p>Калининград</p>
                </button>
                <article id="placeToCitySelect"></article>
                <input id="selectDate" type="text" class="input dateInput alfaInput" readonly="" placeholder="Выберите даты поездки">
                <button id="search" class="button" onclick="getCatalogPage()">Найти</button>
            </section>

        </article>
    </article>
    <section id="widgetPlaceOnMobileLanding">

    </section>
    <article id="landingForm" class="landingArticle startOpacity">
        <section id="mainMenu" class="startOpacity">
            <a href="" class="mainMenuLink">О нас</a>
            <a href="" class="mainMenuLink">Разместить жилье</a>
            <a href="" class="mainMenuLink">Поддержка</a>
            <a class="telegramButton" href="">
                <img width="32" height="32" src="/images/icons/telegram.svg">
                <p>Мы в Telegram</p>
            </a>
        </section>

        <section id="banersPlace" class="startOpacity">

        </section>

        <section id="footer" class="startOpacity">
            <p class="catalog_footerText"></p>
<!--            <p class="footerText">Информация о ценах не является публичной офертой. После отправки Вами заявки наши менеджеры свяжутся с Вами и уточнят цену и условия</p>-->
        </section>
    </article>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/widget.js"></script>
<script type="text/javascript" src="/scripts/landing/request.js"></script>
<script type="text/javascript" src="/scripts/landing/placeController.js"></script>
<script type="text/javascript" src="/scripts/landingDatepicker.js"></script>
<script type="text/javascript" src="/scripts/selectCity.js"></script>
<script type="text/javascript" src="/scripts/constants/cities.js"></script>
<script type="text/javascript" src="/scripts/constants/common.js"></script>
<script type="text/javascript" src="/scripts/airdatepicker/air-datepicker.js"></script>
